{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{% static '/image/photo-group-3.jpg' %}">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">CRM客户管理系统</h1>
        <p class="mb-8 leading-relaxed">
            CRM客户关系管理系统是一个为了教学分享python web框架的一个演示系统，主要演示管理公司的一些销售线索，以及业务员代理的日常跟进工作的系统.
        </p>
        <div class="flex justify-center">
          <a href="/login/"><button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">请登录系统</button></a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}